body
{  
    color:#40514E ;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
   
}

h1
{
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:  #66BFBF;
    
}

h2
{
 font-family: 'Montserrat' sans-serif;
 font-size: 2.5em;
 color:  #66BFBF;
 font-weight: normal;
 padding-bottom: 10px;

}
h3{
    font-family: 'Montserrat' sans-serif;
    color: #11999E;

}
a
{
    color: #11999E;
}

.top-container
{
    background-color:   #e4f9f5;
    position: relative;
    padding-top: 100px;
   
}

.middle-container {
    background-color: #e4f9f5;
    margin: 0;
    padding: 20px;
    height: 100vh;
    
}


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    color: red;
} 


p{
    line-height: 2;
}
a{
    font-family: 'Montserrat';
    color: #11999e ;
    margin: 10px 20px;
    text-decoration: none;
}
.education-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.education-content .text {
    flex-basis: 60%; 
}

.education-content .image {
    flex-basis: 30%;  
    text-align: right;
    position: relative;
    top: -100px;
}
.skills-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-content {
  flex: 1; /
}

.image-content img {
  width: 100%;
  height: auto;
}

.text-content {
  flex: 1; 
  text-align: center; 
}
.project-content {
    display: flex;
    justify-content: space-between;
  }
  
  .text-content {
    flex: 1; 
  }
  
  .image-content {
    flex: 1;
  }
  
  .image-content1 img {
    width: 580px;
    height: auto;
    
  }
  
#contact {
  width: 500px;
  height: 500px; 
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-right: 30px;
}

  .image-container {
    width: 500px; 
    height: 500px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  input, textarea {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 12px;
    background-color: #008CBA; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .middle-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
    background-color: #e4f9f5;
  }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.photo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    margin: 15px; 
    text-align: center; 
    overflow: hidden; 
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.photo img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.photo h3 {
  font-size: 1.5em;
  margin-top: 15px;
}

.photo p {
  font-size: 1em;
  color: #666; 
}

.photo-section {
  display: flex; 
  justify-content: center; 
  margin-bottom: 20px;  
}

  
 
  
  
  
  
  
  





  
